*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    
    
}

:root{
    --background-color:#0A0F1E;
    --text-color-primary: #F1F5F9;
    --back-color: #2d2a2f;

    --h1: 800 24px/135% var(--font-family);
    --h2: 800 16px/140% var(--font-family);
    --h3: 800 14px/140% var(--font-family);
    --text-span: 800 32px/100% var(--font-family);
    --text: 400 16px/140% var(--font-family);
    --text-small: 400 14px/140% var(--font-family);


}

body{
    
    font-family: var(--text);

    color: var(--text-color-primary);

    background-color: var(--back-color);


    max-width: auto;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: var(--background-color);
  
    justify-content: space-between;
    
    max-width: auto;
    margin: auto;
    padding: 10px 20px;
    
}
    