


.logo img{
        
        border-radius: 32px;
        height: 32px;
        
}


.links {
        
        color: var(--text-color-primary);
        font-size: var(--text-span);
        align-items: center;
        display: flex;

        
}

.links a {
        
        text-decoration: none;
        color: var(--text-color-primary);
        font-size: var(--text-span);
        align-items: center;
        display: flex;
        gap: 8px;
        margin: 0px 50px;
        
}

.links a:hover {
        color: #00d1ff;
}

.links img.github{
    border-radius: 32px;
    height: 32px;
    border:solid 1px #00d1ff;

    
    
}



        

.links img.icon{
            
            height: 32px;
           
            align-items: center;
            
        }
        
    
    
    
