.container {
    display: flex;
    align-items: center;
    list-style: none;
    border: 1px solid #00d1ff;
    margin: 2px;
    border-radius: 10px;
    justify-content: space-between;
    
    padding: 5px 5px 5px;
}

.logo img{
        
        border-radius: 32px;
        height: 32px;
        
}


.links {
        
        color: var(--text-color-primary);
        font-size: var(--text-span);
        align-items: center;
        display: flex;

        
}

.links a {
        
        text-decoration: none;
        color: var(--text-color-primary);
        font-size: var(--text-span);
        align-items: center;
        display: flex;
        gap: 8px;
        margin: 0px 50px;
        
}

.links a:hover {
        color: #00d1ff;
}

.links img.github{
    border-radius: 32px;
    height: 32px;
    border:solid 1px #00d1ff;

    
    
}



        

.links img.icon{
            
            height: 32px;
           
            align-items: center;
            
        }
        
    
    
    
