.welcome{
    display:column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 64px;
    margin-left: 32px;
}

.stat-card {
    display: flex;
    flex-direction: column;

}