.welcome{
    display:column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.stats {
    display: grid;
}

.stat-card {
    display: flex;
    flex-direction: column;
}